body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #EEF3FA;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #424242;
}

.wrapper{
	width: 100%;
	overflow: hidden;
}

h1, h2, h3, h4, h5 {
	margin: 0; 
}

header, nav, footer, section, article, div {
	box-sizing: border-box;
	border: 0px;
}

ul {
	padding: 0;
	margin: 0;
}

/****************** Header ******************/

.header {
	position: fixed;
	right: 0px;
	top: 0px;
	width: 100%;
	height: 90px;
	background-color: #000;
}

@media screen and (max-width: 610px){
	.header{
		max-height: 120px;
		width: 100%;
	}
	
	.header_menu {
		display: inline-block;
		position: absolute;
		left: 0;
		padding: 15px;
	}

	.header_menu svg {
		width: 40px;
		padding: 8px;
		fill: #E0E0E0;
	}	
	
	.header_logo{
		width: 120px;
		margin-right: 10px;
		margin-left: auto;
	}

	.header_logo img{
		width: 100%;
		margin-top: 32px;
	}
}

@media screen and (min-width: 610px){
	.header{
		overflow: hidden;
	}
	.header_menu{
		display: none;
	}
	
	.header_inner{
		display: none;
	}
	
	.header_logo{
		display: none;
	}
}

/****************** Top Level Navigation ******************/

.nav {
	color: #fff;
	background-color: #000;
	font-size: 1.2em;
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	flex-wrap: wrap;
}

.nav_list {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.nav_item a{
	width: 100%;
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	
	-webkit-flex-wrap: nowrap; /* Safari 6.1+ */
	flex-wrap: nowrap;
	
	padding: 0;
}

.nav_item a span{	
	line-height: 40px;
	padding: 8px;
}

.nav_item img{
	opacity: 1;
	height: 40px;
	width: 40px;
	padding: 8px;
}

.nav a {
	text-decoration: underline;
	color: #fff;
}

nav a:visited{
	text-decoration: none;
	color: #fff;
}

.social{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	
	-webkit-flex-wrap: nowrap; /* Safari 6.1+ */
	flex-wrap: nowrap;
}

.social a img{
	width: 40px;
}

.link_social{
	min-width: 40px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px 40px;	
}

.link_facebook{
	background-image: url("../images/facebook-black.svg");
}

.link_facebook:hover {
	background-image: url("../images/facebook-white.svg");
}

.link_twitter{
	background-image: url("../images/twitter-black.svg");
}

.link_twitter:hover {
	background-image: url("../images/twitter-white.svg");
}

.link_blog{
	background-image: url("../images/blog-black.svg");
}

.link_blog:hover {
	background-image: url("../images/blog-white.svg");
}

@media screen and (max-width: 610px){
	.nav {
		width: 240px;
		top: 90px;
		
		position: absolute;
		
		/* This trasform moves the drawer off canvas. */
		-moz-transform: translateX(-240px) translateY(0px);
		-webkit-transform: translateX(-240px) translateY(0px);
		-o-transform: translateX(-240px) translateY(0px);
		-ms-transform: translateX(-240px) translateY(0px);
		transform: translateX(-240px) translateY(0px);
		
		/* Optionally, we animate the drawer. */
		transition: transform 0.3s ease;
		
		height: 100%;
		min-height: 600px;
	}

	.nav.open {
		-moz-transform: translateX(0px) translateY(0px);
		-webkit-transform: translateX(0px) translateY(0px);
		-o-transform: translateX(0px) translateY(0px);
		-ms-transform: translateX(0px) translateY(0px);
		transform: translateX(0px) translateY(0px);
		
		height: 100%;
	}
	
	.nav_list {
		width: 100%;
		margin: 0px;
		max-height: 450px;
		overflow: hidden;
	}
	
	.nav_item {
		width: 100%;
		text-transform: uppercase;
	}
	
	.top{
		display: none;
	}
	
	.nav_item a{
		width: 100%;
		
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;
		
		-webkit-flex-wrap: nowrap; /* Safari 6.1+ */
		flex-wrap: nowrap;
		
		padding: 5px 0;
		text-decoration: none;
	}

	.nav_item a span{	
		line-height: 40px;
		padding: 8px;
	}

	.nav_item img{
		opacity: 1;
		height: 40px;
		width: 40px;
		padding: 8px;
	}
	
	.social {
		padding-top: 50px;
	}
	
	.social a{
		padding: 10px;
	}
	
	.link_social{
		background-size: 40px 40px;	
	}
	.link_facebook{
		background-image: url("../images/facebook-white.svg");
	}
	
	.link_twitter{
		background-image: url("../images/twitter-white.svg");
	}

	.link_blog{
		background-image: url("../images/blog-white.svg");
	}
}

@media screen and (min-width: 610px){
	
	.nav_list {
		width: 100%;
		max-width: 860px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-wrap: nowrap;
		padding: 10px;
	}
	
	.nav_item {
		width: 90px;
		text-transform: uppercase;
	}
	
	.nav_item a{
		display: flex;
		flex-wrap: wrap;
		text-decoration: none;
	}

	.nav_item a span{
		margin-left: auto;
		margin-right: auto;
		line-height: 0.5em;
		font-size: 13px;
		margin-top: -5px;
	}
	
	.nav_item a:hover span{
		text-decoration: underline;
	}

	.nav_item a img{
		opacity: 0.5;
		height: 40px;
		width: 40px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.nav_item a:hover img{
		opacity: 1;
	}
	
	.social{
		width: 150px;
		margin-right: 0px;
		margin-left: auto;
	}
	
	.social a{
		display: inline-block;
		padding: 10px 8px;
	}
}


/****************** Content ******************/

/****************** General ******************/

.main{
	margin-top: 90px;
}

.content{
	width: 100%;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	flex-wrap: wrap;
}

.section{
	width: 100%;
	min-height: 150px;
	padding: 0px;
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	flex-wrap: wrap;
	
	text-align: left;
	color: #fff;
}

/****************** Section Content - text ******************/

.section_content{
	width: 100%;
	padding: 100px 10px 10px 10px;
	
	order 0;
	-webkit-order: 0;
}

.section p{
	margin-right: auto;
	margin-left: auto;
}

.section_title{
	width: 100%;
	line-height: 1;
}

.section_title img{
	padding: 0 10px;
	width: 59px;
}

.section_title .logo{
	width: 201px;
}

.section_title h1{
	font-size: 46px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 20px 10px;
}

.section_description{
	width: 100%;
	padding: 10px;	
	font-size: 1.0em;
}

.section_details{
	margin: 0;
	padding: 10px;
	width: 100%;
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	flex-wrap: wrap;
}

.section_details p{
	width: 100%;
}

.section_details h2{
	font-size: 1.1em;
	width: 100%;
	text-align: center;
	padding: 10px;
}

.section_details ul{
	width: 100%;
}

.section_details ul li{
	display: list-item;
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 20px;
}

.section_details ul li p{
	list-style-position: inside;
	padding: 0px 0px 0px 0px;
	margin-left: 0px;
	font-size: 15px;
	font-weight: 600;
}

.section_details p{
	width: 100%;
	font-size: 16px;
	font-weight: 500;
}

.get_in_touch{
	width: 142px;
	text-transform: uppercase;
	border-style: solid 1px;
	border-color: #4A4A4A;
	background-color: #4A4A4A;
	padding: 10px 15px;
	margin: 50px 0 25px 0;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
}

/* Section Graphics - img */
.section_graphics{	
	margin-bottom: -4px;
	margin-top: auto;
	width: 100%;
	
	order: 1;
	-webkit-order: 1;
}

.section_graphics img{
	width: 100%;
}

.blue_img{	
	max-width: 818px;
}
.pink_img{
	max-width: 681px;
}
.yellow_img{
	max-width: 534px;
}
.purple_img{
	max-width: 620px;
}

/* Section colors */
#top{
	min-height: 300px;
	padding-top: 100px;
	background: url("../images/header-image.jpg");
	background-position: center;
	background-size: cover;
}

#top .section_title{
	text-align: center;
	margin: auto;
}

#top h1{
	padding-bottom: 100px;
}

.pink{
	background-color: #F35377;
	color: #fff;
}

.yellow{
	background-color: #DFBA14;
	color: #fff;
}

.purple{
	background-color: #6D58C1;
	color: #fff;
}

.blue{
	background-color: #54C4CF;
	color: #fff;
}

@media screen and (max-width: 610px){
	.section_graphics img{
		width: 100%;
	}
	.section_title h1{
		font-size: 32px;
	}
}

@media screen and (max-width: 799px){
	.section_graphics {
		order: 1;
		-webkit-order: 1;
	}
	
	.section_content{
		order: 0;
		-webkit-order: 0;
	}
}

@media screen and (min-width: 800px){
	.section_content{
		padding: 100px 0 50px 10px;
		width: 40%;
		max-width: 450px;
		order: 0;
		-webkit-order: 0;
	}
	
	.section_content_right{
		margin-left: 0px;
		margin-right: auto;
	}
	
	.section_content_left{
		margin-left: auto;
		margin-right: 0px;
	}
	
	.section_graphics{
		width: 50%;
		order: 0;
		-webkit-order: 0;
	}
	
	.phones{		
		padding-top: 100px;
	}
	
	.tablets{
		padding-top: 50px;
	}
	
	.under{
		margin-left: -50px;
	}
	
	.section_graphics img{
		height: 100%;
	}
}

@media screen and (min-width: 1100px){
	.under{
		margin-left: -150px;
	}	
}

/****************** Footer ******************/

footer {
	width: 100%;
	margin-bottom: 0px;
	background-color: #000;
	color: #fff;
	padding: 0;
	width: 100%;
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	flex-wrap: wrap;
}

footer ul{
	list-style: none;
}

footer li {
	display: inline-block;
	margin: 0 ;
}

.footer_img{
	background: url(../images/footer-line.png) no-repeat;
	background-size: 100%;
	width: 100%;
	height: 3px;
}

.footer_details{
	text-align: left;
	margin: 10px;
	padding: 10px;
	width: 100%;
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	flex-wrap: wrap;
	
	font-size: 0.8em;
}

.footer_details a{
	padding: 0 16px 0 0;
	color: #fff;
	text-decoration: none;
}

.footer_details a img{
	width: 48px;
	padding-top: 10px;
}

footer a:hover {
	text-decoration: underline;
}

.footer_details a:visited {
	text-decoration: none;
	color: #fff;
}

.footer_details p{
	width: 100%;
	margin: 0px;
	padding: 0 8px 0 0;
}

.copyright{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.copyright p{
	font-size: 0.6em;
	text-align: center;	
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 609px){
	.footer_content{
		width: 100%;
	}
	
	.footer_graphics{
		display: none;
	}
	
	.copyright{
		width: 100%;
	}
}

@media screen and (min-width: 610px){
	.footer_content{
		width: 40%;
		max-width: 450px;
		margin-left: auto;
		margin-right: 0px;	
	}
	
	.footer_details{
		text-align: left;
		margin: 10px;
		padding: 10px;
		width: 100%;
		
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;
		
		-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		flex-wrap: wrap;
		
		font-size: 0.8em;
	}	
	
	.footer_graphics{
		width: 40%;
		padding: 40px 0;
		max-width: 410px;
		margin-left: 0px;
		margin-right: auto;
		text-align: right
	}
	
	.copyright{
		width: 100%;
	}
}